/* --------------
main
-----------------*/
.ly_main {
	min-height: calc(100% - 253px);
}
.bl_works {
	background: #f9f9f9;
	padding: 64px 0;
}
.bl_works_ttl {
	font-weight: normal;
	text-align: center;
	font-size: 40px;
	letter-spacing: 0.08em;
	margin-bottom: 64px;
}
.bl_cardUnit {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}
.bl_card {
	max-width: calc(50% - 20px);
	width: 100%;
}
.bl_card > a {
	display: block;
	background: #ffffff;
}
.bl_card_ttl {
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: normal;
}
.bl_card_imgWrapper {
	width: 100%;
}
.bl_card_body {
	padding: 24px 16px 64px;
	text-align: center;
	position: relative;
}
.bl_card_linkTextWrapper {
	position: absolute;
	bottom: 24px;
	right: 16px;
}
.bl_card_linkText {
	font-size: 12px;
	text-align: right;
	display: block;
	padding-right: 32px;
	position: relative;
}
.bl_card_linkText::before {
	content: "";
	width: 24px;
	height: 1px;
	background: #333;
	position: absolute;
	top: 56%;
	right: 0;
	transform: translateY(-50%);
}
.bl_card_linkText::after {
	content: "";
	width: 8px;
	height: 1px;
	background: #333;
	position: absolute;
	top: 43%;
	right: -1px;
	transform: translateY(-50%) rotate(45deg);
}

@media screen and (max-width: 1064px) {
	.bl_cardUnit {
		gap: 20px;
	}
	.bl_card {
		max-width: calc(50% - 10px);
	}
	.bl_card_body {
		padding: 16px 8px 54px;
	}
	.bl_card_linkTextWrapper {
		bottom: 12px;
	}
}

@media screen and (max-width: 767px) {
	.bl_works {
		padding: 48px 0 64px;
	}
	.bl_works_ttl {
		font-size: 30px;
		margin-bottom: 40px;
	}
	.bl_card {
		max-width: 100%;
	}
}

.bl_blog {
	padding: 80px 0;
}
.bl_blog_inner {
	display: flex;
	align-items: center;
	margin-bottom: 56px;
}
.bl_blog_ttl {
	font-weight: normal;
	font-size: 40px;
	letter-spacing: 0.08em;
	flex-basis: 240px;
}
.bl_blog .bl_archive {
	flex: 1;
}
.bl_blog .bl_archive_time {
	font-size: 12px;
}
.bl_blog .el_catLabel {
	font-size: 12px;
}
.bl_blog .bl_archive_ttl {
	font-size: 14px;
	font-weight: normal;
}
.bl_blog .el_btn {
	max-width: 320px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	border: 1px solid #999999;
	margin: 0 auto;
}
@media screen and (max-width: 767px) {
	.ly_main {
		min-height: calc(100% - 250px);
	}
	.bl_blog {
		padding: 64px 0;
	}
	.bl_blog_inner {
		flex-direction: column;
		gap: 40px;
	}
	.bl_blog_ttl {
		font-size: 30px;
		flex-basis: auto;
	}
	.bl_blog_inner {
		margin-bottom: 32px;
	}
	.bl_blog .el_btn {
		max-width: 100%;
	}
}
