@charset "UTF-8";

@font-face {
	font-family: "MPLUS";
	src: url('font/MPLUS1p-Bold_after.woff2') format('woff2');
	src: url('font/MPLUS1p-Regular_after.woff2') format('woff2');
}
#tinymce {
  font-family: "MPLUS", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

.bl_post_conts h2 {
  font-size: 20px;
  color: #fcfcfc;
  background: #4B7A95;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  margin: 1.5em 0 1em;
}
.bl_post_conts h3 {
  font-size: 20px;
  padding-left: 16px;
  position: relative;
  margin: 1.5em 0 1em;
}
.bl_post_conts h3::before {
  content: "";
  background: #F0E586;
  width: 4px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.bl_post_conts p + p {
  margin-top: 0.5em;
}
.bl_post_conts p > img {
  max-width: 100%;
  width: auto;
}
.bl_post_conts li {
  padding-left: 1em;
  position: relative;
}
.bl_post_conts li::before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}

.text_bold {
  font-weight: bold;
}
